* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #2a5227;
}

.corpo {
    width: 80%;
    background-color: #477a43;
    margin: auto;
}

.navb {
    background-color: #080808;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.navl {
    list-style-type: none;
}

.navl .litem {
    display: inline-block;
    padding: 20px 20px;
}

.navb a {
    color: #FFFFFF;
    text-decoration: none;
}

.navb a:hover {
    color: #2a5227;
}

.logo {
    height: 40px;
}

/*
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav ul li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

*/

.menu {
    background-color: #080808;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
}

.menu:hover {
    color: #2a5227;
}

.drop {
    position: relative;
    display: inline-block;
   
}

.dropa {
    display: none;
    position: absolute;
    background-color: #080808;
    padding: 15px 35px 15px 35px;
    text-align: center;
    border-radius: 12px;
    right: 0;
}

.dropa a {
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 5px;
}

.drop hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.show {
    display: block;
}

.footer {
    background-color: #080808;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}



/* PAGINA DE CADASTRO E LOGIN */

.cl {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.cl h2 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.login {
    text-align: center;
    flex-basis: 45%;
    background-color: #080808;
    border-radius: 15px;
    color: #477a43;
}

.cadastro {
    text-align: center;
    flex-basis: 45%;
    background-color: #080808;
    border-radius: 15px;
    color: #477a43;
}

.inpe {
    width: 70%;
    text-align: center;
    border: none;
    border-radius: 12px;
    padding: 5px 0px 5px 0px;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.inpe:focus {
    box-shadow: 4px 4px #2a5227;
    background-color: #ffffff46;
    color: #FFFFFF;
}

.inps {
    width: 70%;
    text-align: center;
    border: none;
    border-radius: 12px;
    padding: 5px 0px 5px 0px;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.inps:focus {
    box-shadow: 4px 4px #2a5227;
    background-color: #ffffff46;
    color: #FFFFFF;
}

.inpu {
    width: 70%;
    text-align: center;
    border: none;
    border-radius: 12px;
    padding: 5px 0px 5px 0px;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.inpu:focus {
    box-shadow: 4px 4px #2a5227;
    background-color: #ffffff46;
    color: #FFFFFF;
}

#btnlogin {
    border: none;
    border-radius: 12px;
    padding: 3px 25px 3px 25px;
    font-size: 15px;
    transition: 0.4s;
}

#btnlogin:hover {
    background-color: #2a5227;
    color: #ffffff;
    cursor: pointer;
}

#btncadastro {
    border: none;
    border-radius: 12px;
    padding: 3px 25px 3px 25px;
    font-size: 15px;
    transition: 0.4s;
}

#btncadastro:hover {
    background-color: #2a5227;
    color: #ffffff;
    cursor: pointer;
}