* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html {
    background: url("./img/FUNDOS/fundo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.corp {
    flex: 1 1 auto;
}

.corpo {
    width: 80%;
    background-color: #2a5227ee;
    margin: auto;
    height: 100%;
}

.navb {
    background-color: #080808;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

@media only screen and (max-width: 601px) {
    .navb {
        font-size: 15px;
    }
}

.navl {
    list-style-type: none;
}

.navl .litem {
    display: inline-block;
    padding: 20px 20px;
}

.navb a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Butcherman', cursive;
}

.navb a:hover {
    color: #2a5227;
}

.av1 {
    display: inline-block;
    height: 100%;
}

.logoimg {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    width: 100%;
    height: 100%;
    
}

.logoimg img {
    display: block;
    margin: 0 auto;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 601px) {
    .logo {
        height: 35px;
        width: 35px;
    }
}

.menu {
    background-color: #080808;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
}

.menu:hover {
    color: #2a5227;
}

.drop {
    position: relative;
    display: inline-block;
   
}

.dropa {
    display: none;
    position: absolute;
    background-color: #080808;
    padding: 15px 35px 15px 35px;
    text-align: center;
    border-radius: 12px;
    right: 0;
}

.dropa a {
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 5px;
    font-family: 'Kanit', sans-serif;
}

.drop hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.show {
    display: block;
    
}

.footer {
    background-color: #080808;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 17.5px;
}

@media only screen and (max-width: 601px) {
    .footer {
        font-size: 14px;
    }
}






/* PAGINA DE LOGIN */

.login {
    display: flex;
    justify-content: space-around;
    text-align: left;
    height: 100%;
    align-items: center;
}

.lt {
    text-align: center;
    color: #1d1d1b;
}



.limg {
    width: 30%;
    box-sizing: border-box;
}

.loginf {
    background-color: #8eaf8c;
    padding: 30px;
    align-items: center;
    border-radius: 8px;
}

@media only screen and (min-width: 601px) {
    .loginf {
        margin: 15px;
    }
}

@media only screen and (max-width: 601px) {
    .loginf {
        width: 90%;
    }
}

.inpe {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    transition: 0.4s;
}

.inpe:focus {
    outline: none;
    box-shadow: 2px 2px #477a43;
}

#btnlogin {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 6px;
    background-color: #477a43;
    color: #FFFFFF;
}

#btnlogin:hover {
    background-color: #2a5227;
}

.inps {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    transition: 0.4s;
}

.inps:focus {
    outline: none;
    box-shadow: 2px 2px #477a43;
}

.login h2 {
    font-size: 35px;
    padding-bottom: 25px;
}

@media only screen and (max-width: 601px) {
    .login h2 {
        font-size: 30px;
    }
}

.loginf p {
    text-align: right;
    font-size: 13px;
    padding-top: 3px;
}

@media only screen and (max-width: 601px) {
    .loginf p {
        font-size: 11px;
    }
}

.logint {
    flex-basis: 58%;
    text-align: center;
}

.logint h1 {
    font-size: 30px;
    text-shadow: 2px 2px #8eaf8c;
}



/* PAGINA DE CADASTRO */

.cadastro {
    display: flex;
    justify-content: space-around;
    text-align: left;
    height: 100%;
    align-items: center;
}

.ct {
    text-align: center;
    color: #1d1d1b;
}

.cimg {
    width: 30%;
    box-sizing: border-box;
}

.cadastrof {
    background-color: #8eaf8c;
    padding: 30px;
    align-items: center;
    border-radius: 8px;
}

@media only screen and (min-width: 601px) {
    .cadastrof {
        margin: 15px;
    }
}

@media only screen and (max-width: 601px) {
    .cadastrof {
        width: 90%;
    }
}

.inpu {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    transition: 0.4s;
}

.inpu:focus {
    outline: none;
    box-shadow: 2px 2px #477a43;
}

.inpec {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    transition: 0.4s;
}

.inpec:focus {
    outline: none;
    box-shadow: 2px 2px #477a43;
}

#btncadastro {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 6px;
    background-color: #477a43;
    color: #FFFFFF;
}

#btncadastro:hover {
    background-color: #2a5227;
}

.inpsc {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    transition: 0.4s;
}

.inpsc:focus {
    outline: none;
    box-shadow: 2px 2px #477a43;
}

.cadastro h2 {
    font-size: 35px;
    padding-bottom: 25px;
}

@media only screen and (max-width: 601px) {
    .cadastro h2 {
        font-size: 30px;
    }
}

.cadastrof p {
    text-align: right;
    font-size: 13px;
    padding-top: 3px;
}

@media only screen and (max-width: 601px) {
    .cadastrof p {
        font-size: 11px;
    }
}

.cadastrot {
    flex-basis: 58%;
    text-align: center;
}






/*  HOME  */

.home {
    text-align: center;
    width: 90%;
    height: 100%;
    margin: auto;
}

.homeA {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.homeB {
    margin: 25px;
    background-color: #8eaf8c;
    border-radius: 15px;
    border: 4px solid #477a43;
    box-sizing: border-box;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 601px) {
    .homeB {
        display: table-cell;
        vertical-align: middle;
    }
}




/*  PAGINA DE SINOPSE  */

.sina {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

@media only screen and (max-width: 601px) {
    .sina {
        width: 90%;
    }
}

.sina h1 {
    font-family: 'Eater', cursive;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #080808;
    text-shadow: 2px 2px #477a43;
    word-spacing: 4px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 601px) {
    .sina h1 {
        font-size: 30px;
    }
}

.sina hr {
    color: #FFFFFF;
}

@media only screen and (min-width: 601px) {
    .sinc {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 601px) {
    .sinc hr {
        display: none;
    }
}

.sininfo {
    flex-basis: 45%;
    background-color: #8eaf8c;
    width: 100%;
    border-radius: 15px;
    border: 4px solid #477a43;
    box-sizing: border-box;
}

@media only screen and (max-width: 601px) {
    .sininfo {
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) {
    .sininfo {
        display: table-cell;
        vertical-align: middle;
    }
}

@media only screen and (min-width: 601px) {
    .av {
        display: table;
        text-align: center;
    }
}


.sinimg {
    flex-basis: 45%;
    background-color: #173615cb;
    width: 90%;
    box-sizing: border-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.sinimg img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 601px) {
    .sinimg {
        width: 100%;
    }
}

@media only screen and (max-width: 601px) {
    .sinimg img {
        width: 100%;
        height: 100%;
    }
}







/*  GALERIA DE PERSONAGENS  */

.galpa {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

@media only screen and (max-width: 601px) {
    .galpa {
        width: 90%;
    }
}

.galpa h1 {
    font-family: 'Eater', cursive;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #080808;
    text-shadow: 2px 2px #477a43;
    word-spacing: 4px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 601px) {
    .galpa h1 {
        font-size: 30px;
    }
}

.galpa hr {
    color: #FFFFFF;
}

.galpb {
    background-color: #173615;
    width: 90%;
    margin: auto;
}

.galpb p {
    font-size: 25px;
}

@media only screen and (max-width: 601px) {
    .galpb p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) {
    .galpc {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 601px) {
    .galpc hr {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .sep {
        display: none;
    }
}

.pimg {
    flex-basis: 45%;
    background-color: #173615;
    width: 90%;
    box-sizing: border-box;

}

@media only screen and (max-width: 601px) {
    .pimg {
        width: 100%;
    }
}

.pinfo {
    flex-basis: 45%;
    background-color: #8eaf8c;
    width: 100%;
    border-radius: 15px;
    border: 4px solid #477a43;
    box-sizing: border-box;
}

@media only screen and (max-width: 601px) {
    .pinfo h3 {
        font-size: 14px;
    }
}






/* GALERIA DE BACKGROUNDS */

.galbga {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

@media only screen and (max-width: 601px) {
    .galbga {
        width: 90%;
    }
}

.galbga h1 {
    font-family: 'Eater', cursive;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #080808;
    text-shadow: 2px 2px #477a43;
    word-spacing: 4px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 601px) {
    .galbga h1 {
        font-size: 30px;
    }
}

.galbga hr {
    color: #FFFFFF;
}

.galbgb {
    background-color: #173615;
    width: 90%;
    margin: auto;
}

.galbgb p {
    font-size: 25px;
}

@media only screen and (max-width: 601px) {
    .galbgb p {
        font-size: 18px;
    }
}

.bgimg {
    flex-basis: 45%;
    background-color: #173615;
    width: 100%;
    box-sizing: border-box;

}

.bginfo {
    flex-basis: 45%;
    background-color: #8eaf8c;
    width: 100%;
    border-radius: 15px;
    border: 4px solid #477a43;
    box-sizing: border-box;
}

@media only screen and (max-width: 601px) {
    .bginfo h3 {
        font-size: 14px;
    }
}







/*  GALERIA DE BGM  */

.galbgma {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

@media only screen and (max-width: 601px) {
    .galbgma {
        width: 90%;
    }
}

.galbgma h1 {
    font-family: 'Eater', cursive;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #080808;
    text-shadow: 2px 2px #477a43;
    word-spacing: 4px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 601px) {
    .galbgma h1 {
        font-size: 30px;
    }
}

.galbgma hr {
    color: #FFFFFF;
}

.galbgmb {
    background-color: #173615;
    width: 90%;
    margin: auto;
}

.galbgmb p {
    font-size: 25px;
}

@media only screen and (max-width: 601px) {
    .galbgmb p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) {
    .galbgmc {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 601px) {
    .galbgmc hr {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .sep {
        display: none;
    }
}

.bgms {
    flex-basis: 45%;
    background-color: #173615;
    width: 90%;
    box-sizing: border-box;

}

@media only screen and (max-width: 601px) {
    .bgms {
        width: 100%;
    }
}

.bgminfo {
    flex-basis: 45%;
    background-color: #8eaf8c;
    width: 100%;
    border-radius: 15px;
    border: 4px solid #477a43;
    box-sizing: border-box;
}

@media only screen and (max-width: 601px) {
    .bgminfo h3 {
        font-size: 14px;
    }
}





/*  PROCESSO CRIATIVO */

.pca {
    text-align: center;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

@media only screen and (max-width: 601px) {
    .pca {
        width: 90%;
    }
}

.pca h1 {
    font-family: 'Eater', cursive;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #080808;
    text-shadow: 2px 2px #477a43;
    word-spacing: 4px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 601px) {
    .pca h1 {
        font-size: 30px;
    }
}

.pca hr {
    color: #FFFFFF;
}

.pcb {
    background-color: #173615;
    width: 90%;
    margin: auto;
}

.pcb p {
    font-size: 25px;
}

@media only screen and (max-width: 601px) {
    .pcb p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) {
    .pcc {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 601px) {
    .pcc hr {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .sep {
        display: none;
    }
}

.pcimg {
    flex-basis: 45%;
    background-color: #173615;
    width: 90%;
    box-sizing: border-box;

}

@media only screen and (max-width: 601px) {
    .pcimg {
        width: 100%;
    }
}

.pcinfo {
    flex-basis: 45%;
    background-color: #8eaf8c;
    width: 100%;
    border-radius: 15px;
    border: 4px solid #477a43;
    box-sizing: border-box;
}

@media only screen and (max-width: 601px) {
    .pcinfo h3 {
        font-size: 14px;
    }
}








/* PAGINA DE DESENVOLVEDORES */

.deva {
    text-align: center;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
}

@media only screen and (max-width: 601px) {
    .deva {
        width: 90%;
    }
}

.deva h1 {
    font-family: 'Eater', cursive;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #080808;
    text-shadow: 2px 2px #477a43;
    word-spacing: 4px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 601px) {
    .deva h1 {
        font-size: 30px;
    }
}

.deva h2 {
    font-size: 30px;
    padding-bottom: 20px;
    color: #080808;
    text-shadow: 2px 2px #477a43;
    word-spacing: 4px;
    letter-spacing: 3px;
}

@media only screen and (max-width: 601px) {
    .deva h2 {
        font-size: 20px;
    }
}


.deva hr {
    color: #FFFFFF;
}

@media only screen and (min-width: 601px) {
    .devb {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 601px) {
    .devb hr {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .sep {
        display: none;
    }
}

.devimg {
    flex-basis: 45%;
    background-color: #173615cb;
    width: 90%;
    box-sizing: border-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.devimg img {
    height: 90%;
    width: 90%;
}

@media only screen and (max-width: 601px) {
    .devimg {
        width: 100%;
    }
}

@media only screen and (max-width: 601px) {
    .devimg img {
        width: 100%;
        height: 100%;
    }
}


/* AV = ALINHAR VERTICALMENTE */

.av {
    flex-basis: 45%;
    width: 100%;
}


.devinfo {
    flex-basis: 45%;
    background-color: #8eaf8c;
    width: 100%;
    border-radius: 15px;
    border: 4px solid #477a43;
    box-sizing: border-box;
}

@media only screen and (max-width: 601px) {
    .devinfo {
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) {
    .devinfo {
        display: table-cell;
        vertical-align: middle;
    }
}

@media only screen and (min-width: 601px) {
    .av {
        display: table;
        text-align: center;
    }
}




/*  ACAO CADASTRO  */

.acaoC {
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.acaoCa {
    width: 60%;
    margin: 15px;
    background-color: #8eaf8c;
    color: #080808;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

@media only screen and (max-width: 601px) {
    .acaoCa {
        width: 90%;
    }
}

.acaoCa h1 {
    font-size: 35px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 601px) {
    .acaoCa h1 {
        font-size: 30px;
    }
}

.acaoCa h4 {
    font-size: 20px;
}

.acaoCa h4 {
    padding-bottom: 15px;
}

@media only screen and (max-width: 601px) {
    .acaoCa h4 {
        font-size: 15px;
    }
}

.acaoCa a {
    text-decoration: none;
    color: #080808;
    font-weight: 700;
    font-size: 20px;
}

@media only screen and (max-width: 601px) {
    .acaoCa a {
        font-size: 17px;
    }
}

.acaoCa a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFFFFF;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.acaoCa a:hover {
    color: #2a5227;
}

.acaoCa a:hover::after {
    width: 40%;
}

@media only screen and (max-width: 601px) {
    .acaoCa a:hover::after {
        width: 60%;
    }
}

.acaoCad {
    margin: 15px;
}




/*  ACAO LOGIN  */

.acaoL {
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.acaoLo {
    width: 60%;
    margin: 15px;
    background-color: #8eaf8c;
    color: #080808;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

@media only screen and (max-width: 601px) {
    .acaoLo {
        width: 90%;
    }
}

.acaoLo h1 {
    font-size: 35px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 601px) {
    .acaoLo h1 {
        font-size: 30px;
    }
}

.acaoLo h4 {
    font-size: 20px;
}

.acaoLo h4 {
    padding-bottom: 15px;
}

@media only screen and (max-width: 601px) {
    .acaoLo h4 {
        font-size: 15px;
    }
}

.acaoLo a {
    text-decoration: none;
    color: #080808;
    font-weight: 700;
    font-size: 20px;
}

@media only screen and (max-width: 601px) {
    .acaoLo a {
        font-size: 17px;
    }
}

.acaoLo a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFFFFF;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.acaoLo a:hover {
    color: #2a5227;
}

.acaoLo a:hover::after {
    width: 40%;
}

@media only screen and (max-width: 601px) {
    .acaoLo a:hover::after {
        width: 60%;
    }
}

.acaoLog {
    margin: 15px;
}






/*  PAGINA DE ERRO  */

.erro {
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.errod {
    width: 60%;
    margin: 15px;
    background-color: #8eaf8c;
    color: #080808;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

@media only screen and (max-width: 601px) {
    .errod {
        width: 90%;
    }
}

.errod h1 {
    font-size: 35px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 601px) {
    .errod h1 {
        font-size: 30px;
    }
}

.errod h4 {
    font-size: 20px;
}

.errod h4 {
    padding-bottom: 15px;
}

@media only screen and (max-width: 601px) {
    .errod h4 {
        font-size: 15px;
    }
}

.errod a {
    text-decoration: none;
    color: #080808;
    font-weight: 700;
    font-size: 20px;
}

@media only screen and (max-width: 601px) {
    .errod a {
        font-size: 17px;
    }
}

.errod a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFFFFF;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.errod a:hover {
    color: #2a5227;
}

.errod a:hover::after {
    width: 40%;
}

@media only screen and (max-width: 601px) {
    .errod a:hover::after {
        width: 60%;
    }
}

.errod2 {
    margin: 15px;
}